input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid purple;
    -webkit-box-shadow: 0 1px 0 0 purple;
    box-shadow: 0 1px 0 0 purple;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: yellow;
}